.App-header {
  text-align: center;
}

.App-logo {
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.appBar {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
}

.App-title {
  font-size: large;
}

.spinner {
  animation: spinner infinite .75s ease;
}

@keyframes spinner {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

.page {
  position: absolute;
}

.transition-wrapper {
  position: relative;
}

.control {
  padding-left: 24px;
  padding-right: 24px;
  min-height: 75px;
}

.control .button {
  margin-bottom: 0;
}

.control .icon {
  vertical-align: middle;
  display: inline-block;
}

.control .name {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  display: inline-block;
}

.error {
  font-size: 14px;
  color: red;
}

.highlight {
  color: rgb(240, 98, 146);
}

.center {
  text-align: center;
}

.panel {
  width: 100%;
}

.sidebar {
  padding-left: 24px;
  padding-right: 24px;
}

.action-btn {
  margin: 5px;
}

.hidden {
  visibility: hidden;
}

ul {
  /* For some reason AutoComplete sets nowrap which makes chip overflow */
  white-space: normal;
}
